In [ ]:
#CRUD
    # Connect with db (SQlite-default db, MangoDB, Access, SQL Server, Oracle, MySQL, Mariadb)
        # insert/create
        # select/retrieve
        # update/edit
        # delete/remove
    # Close connection

In [3]:
# Connect with SQLite DB
# Step-1 - Import library (no need to install)
import sqlite3

# Step-2 - Create database file (mydb.db)
# mydb.db

# Step-3 - connect with db
conn = sqlite3.connect("MyDb.db")

# Step-4 - Close Connection
conn.close()

In [5]:
# Connect with db
import sys
import sqlite3
try:
    conn = sqlite3.connect("MyDb.db")
    conn.close()
    print("Connect, close database connection")
except:
    print("Error : ", sys.exc_info()[1])
finally:
    pass

Connect, close database connection

In [13]:
# Create a table
import sys
import sqlite3
sql="""
    CREATE TABLE persons(
        pid INTEGER PRIMARY KEY AUTOINCREMENT,
        fullname TEXT(50),
        contactaddress TEXT(50)
    )
"""
try:
    conn = sqlite3.connect("MyDb.db")
    cursor = conn.cursor()
    cursor.execute(sql)
    conn.commit()
    conn.close()
    print("Create database table")
except:
    print("Error : ", sys.exc_info()[1])
finally:
    pass

Create database table

In [15]:
# insert record on table-1
import sys
import sqlite3
sql="""
   INSERT INTO persons(fullname, contactaddress) values('Raj Rai', 'Bhaktapur')
"""
try:
    conn = sqlite3.connect("MyDb.db")
    cursor = conn.cursor()
    cursor.execute(sql)
    conn.commit()
    conn.close()
    print("Insert record on table")
except:
    print("Error : ", sys.exc_info()[1])
finally:
    pass

Insert record on table

In [7]:
import sys
import sqlite3
# insert record on table
def insert_record(fullname, contactaddress):
    sql="""
       INSERT INTO persons(fullname, contactaddress) values('{0}', '{1}')
    """.format(fullname, contactaddress)
    print(sql)
    try:
        conn = sqlite3.connect("MyDb.db")
        cursor = conn.cursor()
        cursor.execute(sql)
        conn.commit()
        conn.close()
        print("Insert record on table")
    except:
        print("Error : ", sys.exc_info()[1])
    finally:
        pass

In [8]:
nums = int(input("How many persons : "))
for i in range(0, nums):
    tmp_name = input("Enter full name : ")
    tmp_address = input("Enter address : ")
    insert_record(tmp_name, tmp_address)

       INSERT INTO persons(fullname, contactaddress) values('Roshan', 'Lat')

Insert record on table

In [ ]:
# Homework
    # Retrieve Record
    # Update Record
    # Delete Record

In [ ]:
# Retrieve Record

In [16]:
# References
# https://sqliteonline.com/